/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
        background-color: white;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 400;
        font-size: 21px;
        color: #2b2b2b;
        line-height: 1.6;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

p {
    font-size: 12px;
    font-weight: 400;
}

div {
    font-size: 12px;
    font-weight: 400;
}

a {
    color: #00675c;
}

a:hover a:focus {
    text-decoration: none;
}

.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
}

button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity;
    -o-transition: opacity;
    transition: opacity;
}

button:hover, button:focus, .button:hover , .button:focus {
cursor: pointer;
opacity: 0.8;
}

a:hover, a:focus {
    cursor: pointer;
    opacity: 0.5;
}

a:active, label:active {
    color: red;
}

a:visited, label:visited {
    color: #5c5cf1;
}

.about {
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.profile {
    max-width: 700px;
    margin: 0 auto;
}
.profile_portrait {
float: left;
width: 250px;
margin-right: 40px;
border-radius: 50%;
}

.page-footer {
    clear: both;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header_item:last-child {
-webkit-box-flex: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li{
    display: inline-block;
    margin-left: 15px;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid_item {
    display: -ms-grid;
    display: grid;
    background-color: #d3d3d3;
}

.sun {
   -webkit-animation: 4s color-change infinite alternate linear;
           animation: 4s color-change infinite alternate linear;
}

.cloud-back {
    -webkit-animation: 34s cloud-move infinite alternate linear;
            animation: 34s cloud-move infinite alternate linear;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    h1 {
        font-size: 26px;
    } 
}

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
.grid_item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
h1  {
        font-size: 22px;
    }
}

@-webkit-keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
    
}

@keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
    
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }

}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }

}